body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

@property --viewHypotenuse {
  syntax: "<length>";
  inherits: false;
  /* initial-value: calc(sqrt(pow(100vmax, 2) * 2) * 1px); */
  initial-value: calc(max(100vw, 100vh) * 1.5);
}

@keyframes backgroundSpinner1 {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(380deg);
  }
}

.backgroundSpinner1 {
  position: absolute;
  width: var(--viewHypotenuse);
  height: var(--viewHypotenuse);
  /* width: 1000px;
  height: 1000px; */
  background: linear-gradient(rgba(0,0,0,0) 20%, rgba(0,0,255,.7), rgba(0,0,0,0) 80%);
  animation: backgroundSpinner1;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 60s;
}

@keyframes backgroundSpinner2 {
  from {
    transform: rotate(120deg);
  }
  to {
    transform: rotate(-121deg);
  }
}

.backgroundSpinner2 {
  position: absolute;
  width: var(--viewHypotenuse);
  height: var(--viewHypotenuse);
  /* width: 1000px;
  height: 1000px; */
  background: linear-gradient(rgba(0,0,0,0) 30%, rgba(255,255,255,.2), rgba(0,0,0,0) 70%);
  animation: backgroundSpinner2;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1200s;
}

.container {
  position: absolute;
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  background: black;
  border: solid white 1px;
  overflow: hidden;
}

.boxContainer {
  pointer-events: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0);

  /* outline: solid rgba(255, 255, 255, .5) 1px; */
}

.box {
  background: linear-gradient(rgba(0,0,0,0) -20%, rgba(0,0,255,.75), rgba(0,0,0,0) 120%);
  border: solid white 1px;
  transform: rotate(30deg);
}