body {
  margin: 0;
  padding: 0;
}

.backgroundContainer {
  position: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

:root {
  --viewHypotenuse: calc(100vmax * 1.5);
  --borderWidth: calc(100vmin / 10)
}

@keyframes backgroundSpinner1 {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(380deg);
  }
}

.backgroundSpinner1 {
  position: absolute;
  width: var(--viewHypotenuse);
  height: var(--viewHypotenuse);
  background: linear-gradient(rgba(0,0,0,0) 20%, rgba(0,0,255,.7), rgba(0,0,0,0) 80%);
  animation: backgroundSpinner1;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 60s;
}

@keyframes backgroundSpinner2 {
  from {
    transform: rotate(120deg);
  }
  to {
    transform: rotate(-121deg);
  }
}

.backgroundSpinner2 {
  position: absolute;
  width: var(--viewHypotenuse);
  height: var(--viewHypotenuse);
  background: linear-gradient(rgba(0,0,0,0) 30%, rgba(255,255,255,.2), rgba(0,0,0,0) 70%);
  animation: backgroundSpinner2;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 350s;
}

.container {
  position: absolute;
  width: calc(100vw - min(var(--borderWidth), 100px));
  height: calc(100vh - min(var(--borderWidth), 100px));
  background: black;
  border: solid white 1px;
  overflow: hidden;
}

.boxContainer {
  pointer-events: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0);
}

.box {
  background: linear-gradient(rgba(0,0,0,0) -20%, rgba(0,0,255,.75), rgba(0,0,0,0) 120%);
  border: solid white 1px;
  transform: rotate(30deg);
}